html {
    background-image: url("img/background.gif");
    background-size:cover;
}

#header {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: black;
}

body {
    color: white;
}

.container {
    display: flex; 
    justify-content: space-around; 
    margin: 20px;
}


.food-item {
    width: 30%;
    text-align: center; 
    box-shadow: 0 4px 8px rgba(255,255,255,1); 
    margin-bottom: 20px; 
}

.food-item img {
    width: 100%; 
    height: auto;
}

.food-item p {
    margin-top: 10px;
    font-size: 16px; 
}
